!!! 5
%html
  %head
    %title K&C Auto Electrics
    %link{:rel => 'stylesheet', :href => 'https://fonts.googleapis.com/icon?family=Material+Icons'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => './assets/css/materialize.min.css', :media => 'screen,projection'}
    %meta{:name => 'viewport', :content => 'width=device-width', :initial-scale => '1.0'}
    %link{:rel => 'stylesheet', :href => './assets/css/main.css'}

  %body
    %div{:class => 'container'}
      %nav{:class => 'row'}
        %div{:class => 'nav-wrapper amber accent-4 col s12'}
          %img{:src => 'http://haml.info/images/haml.png'}
          %span You drive it, We fix it.
          %ul{:class => 'right hide-on-med-and-down'}
            %li{:class => 'mobile'} 0409 602 968
            %li 
              %a{:href => '#Get-in-touch'} Get a quote

      %main
        %section{:class => 'hero row'}
          %div{:class => 'mission col s6'}
            %h1 Fix Your Truck, Fast
            %h2 We repair and upgrade heavy vehicles and machinery, quickly and effectively. You can come to us, or we can come to you. 24 hours a day, 7 days a week.
          %aside{:class => 'col s6'}
            %img{:class => 'hero-image', :src => './assets/images/hero.jpg'}
          
        %section{:class => 'partners row'}
          %div{:class => 'flex-container col s12'}
            %div{:id => 'freightliner'}
            %div{:id => 'isuzu'}
            %div{:id => 'westernstar'}
            %div{:id => 'volvo'}
            %div{:id => 'benz'}

        %div{:class => 'row'}
          %span{:class => 'mobile col s12'} 0409 602 968

        %div{:class => 'row'}
          %section{:class => 'about col s6'}
            %h2 About Us
            %p Located in Western Sydney, K & C Auto Electrics is a well established business with over 25 years of experience. We currently service and are trusted by some of New South Wales major transport companies (such as?). Our workshop and mobile units are fully equipped with tools of the highest technology. We have the latest scanning tools on the market today to get your vehicle back on the road fast and keep your business running smoothly. 
            %img{:src => '/', :alt => 'team images'}

          %aside{:class => 'services col s6'}
            %h2 Our Services
            %ul
              %li 
                %img{:src => './assets/images/circleplus.svg'}
                %span Fix lights faults
              %li
                %img{:src => './assets/images/circleplus.svg'}
                %span Fix autoshift problems
              %li
                %img{:src => './assets/images/circleplus.svg'}
                %span Fix alternators & starters
              %li
                %img{:src => './assets/images/circleplus.svg'}
                %span Battery replacements
              %li
                %img{:src => './assets/images/circleplus.svg'}
                %span Vehicle upgrades
              %li
                %img{:src => './assets/images/circleplus.svg'}
                %span Install air conditioning
              %li
                %img{:src => './assets/images/circleplus.svg'}
                %span Provide fitouts
              %li
                %img{:src => './assets/images/circleplus.svg'}
                %span Fix rollback faults
              %li 
                %img{:src => './assets/images/circleplus.svg'}
                %span Service heavy vehicles
              %li
                %img{:src => './assets/images/circleplus.svg'}
                %span Complete computer diagnostics
              %li
                %img{:src => './assets/images/circleplus.svg'}
                %span Service cranes
              %li
                %img{:src => './assets/images/circleplus.svg'}
                %span Service forklifts
              %li
                %img{:src => './assets/images/circleplus.svg'}
                %span Service bobcats
              %li
                %img{:src => './assets/images/circleplus.svg'}
                %span Service escavators
        
        %div{:class => 'row'}
          %span{:class => 'mobile mobile3 col s12'} 0409 602 968

        %section{:class => 'contact'}
          %div{:class => 'contact-form'} 
            %h2 Get in touch
            %form{:action => 'https://formspree.io/adxm@msn.com', :method => 'post'}
              %div{:class => 'input-field'}
                %i{:class => 'material-icons prefix'} account_circle
                %input{:type => 'text', :id => 'icon_prefix', :name => 'name', :class => 'validate'}
                %label{:for => 'icon_prefix'} Name
              %div{:class => 'input-field'}
                %i{:class => 'material-icons prefix'} email
                %input{:type => 'email', :id => 'email_inline', :name => 'email', :class => 'validate'}
                %label{:for => 'email_inline'} Email
              %div{:class => 'input-field'}
                %i{:class => 'material-icons prefix'} message
                %textarea{:id => 'message', :name => 'message', :class => 'materialize-textarea'}
                %label{:for => 'message'} Message
              %button{:type => 'submit', :class => 'amber accent-4 btn-small'} Send

          %aside{:class => 'map'}
            %iframe{:src => 'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d18753.10737704568!2d150.79361812494318!3d-33.80941367455066!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6bcac4dc51e5492!2sK+%26+C+Auto+Electrics!5e0!3m2!1sen!2sau!4v1546036997326', :allow => 'fullscreen'}

      %footer
        %ul
          %li asdads@autoelectrics.com.au
          %li{:class => 'mobile'} 0409 602 968
          %li ABN: 1343241234
          %li
            %a{:src => '/'}
              %img{:src => '/'}

      %script{:type => 'text/javascript', :src => './assets/js/materialize.min.js'}