!!! 5
%html{:lang => 'en'}
  %head
    %title K&C Auto Electrics
    %link{:rel => 'stylesheet', :href => 'https://fonts.googleapis.com/icon?family=Material+Icons'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => './assets/css/materialize.min.css', :media => 'screen'}
    %meta{:name => 'viewport', :content => 'width=device-width'}
    %link{:rel => 'stylesheet', :href => './assets/css/main.min.css'}
    %link{:rel => 'icon', :href => './favicon.ico', :type => 'image/x-icon'}
    %meta{:charset => 'utf-8'}
    %meta{:name => 'K&C Auto Electrics', :description => 'Based in Sydney. We repair and upgrade heavy vehicles and machinery, quickly and effectively. You can come to us, or we can come to you. 24 hours a day, 7 days a week.'}

  %body
    %div{:class => 'container'}
      %nav{:class => 'row'}
        %div{:class => 'nav-wrapper red accent-4 col s12'}
          %img{:src => './assets/images/kac-logo.png', :alt => 'Logo of K & C Auto Electrics'}
          %span You drive it, We fix it.
          %ul{:class => 'right hide-on-med-and-down', :id => 'nav-mobile'}
            %li{:class => 'mobile'} 
              %strong 
                %a{:href => 'tel:0409602968'} 0409 602 968
            %li 
              %a{:href => '#contact'} Get a Quote
            %li 
              %a{:href => '#contact'} Find Us

      %main
        %section{:class => 'hero row'}
          %div{:class => 'mission col s12 m6 l6'}
            %h1 Fix Your Truck, Fast
            %h2 
              We repair and upgrade heavy vehicles and machinery, quickly and effectively. You can come to us, or we can come to you.
              %span 24 hours a day, 7 days a week.
          %aside{:class => 'col s12 m6 l6'}
            %img{:class => 'hero-image z-depth-5', :src => './assets/images/hero.jpg', :alt => 'Large truck driving down a highway'}

        %section{:class => 'partners row'}
          %div{:class => 'flex-container col s12'}
            %div{:id => 'freightliner'}
            %div{:id => 'isuzu'}
            %div{:id => 'westernstar'}
            %div{:id => 'volvo'}
            %div{:id => 'benz'}

        %div{:class => 'row mobile2-div'}
          %aside{:class => 'col s12 m6 l6'}
            %img{:class => 'team-image z-depth-5', :src => './assets/images/team.jpg', :alt => 'The K&C Auto Electrics team lined up in front of their mobile units'}
          %h3{:class => 'mobile mobile2 col s12 m6 l6'} 
            %img{:src => './assets/images/call.svg', :alt => 'An icon of a telephone'}
            %a{:href => 'tel:0409602968'} 0409 602 968

        %div{:class => 'row about-services'}
          %section{:class => 'about col s12 m6 l6'}
            %h2 About Us
            %p Located in Western Sydney, K & C Auto Electrics is a well established business with over 25 years of experience. We currently service and are trusted by some of New South Wales major transport companies. Our workshop and mobile units are fully equipped with tools of the highest technology. We have the latest scanning tools on the market today to get your vehicle back on the road fast and keep your business running smoothly. 
            %div{:class => 'carousel center'}
              %a{:class => 'carousel-item', :href => '#zero!'}
                %img{:src => './assets/images/carousel/carousel-0.png', :alt => 'A mobile unit and two K&C trucks being serviced'}
              %a{:class => 'carousel-item', :href => '#one!'}
                %img{:src => './assets/images/carousel/carousel-1.png', :alt => 'A large truck in the workshop'}
              %a{:class => 'carousel-item', :href => '#two!'}
                %img{:src => './assets/images/carousel/carousel-2.png', :alt => 'A large truck in the workshop'}
              %a{:class => 'carousel-item', :href => '#three!'}
                %img{:src => './assets/images/carousel/carousel-3.png', :alt => 'Freshly installed headlights by K&C'}
              %a{:class => 'carousel-item', :href => '#four!'}
                %img{:src => './assets/images/carousel/carousel-4.png', :alt => 'The rear of a large truck'}
              %a{:class => 'carousel-item', :href => '#five!'}
                %img{:src => './assets/images/carousel/carousel-5.png', :alt => 'The side of a large truck being serviced at K&C'}
              %a{:class => 'carousel-item', :href => '#six!'}
                %img{:src => './assets/images/carousel/carousel-6.png', :alt => 'Two trucks side by side being serviced at K&C'}
              %a{:class => 'carousel-item', :href => '#seven!'}
                %img{:src => './assets/images/carousel/carousel-7.png', :alt => 'A freshly installed stereo system by K&C'}
              %a{:class => 'carousel-item', :href => '#eight!'}
                %img{:src => './assets/images/carousel/carousel-8.png', :alt => 'A truck being serviced in the workshop by K&C'}
              %a{:class => 'carousel-item', :href => '#nine!'}
                %img{:src => './assets/images/carousel/carousel-9.png', :alt => 'An engine being worked on by K&C'}
              %a{:class => 'carousel-item', :href => '#ten!'}
                %img{:src => './assets/images/carousel/carousel-10.png', :alt => 'The side of a large truck at K&C'}

          %aside{:class => 'services col s12 m6 l6'}
            %h2 Our Services
            %ul
              %li 
                %img{:src => './assets/images/circleplus.svg', :alt => 'An icon of a circle with a plus inside'}
                %span Fix faulty lights
              %li
                %img{:src => './assets/images/circleplus.svg', :alt => 'An icon of a circle with a plus inside'}
                %span Fix autoshift problems
              %li
                %img{:src => './assets/images/circleplus.svg', :alt => 'An icon of a circle with a plus inside'}
                %span Fix alternators & starters
              %li
                %img{:src => './assets/images/circleplus.svg', :alt => 'An icon of a circle with a plus inside'}
                %span Battery replacements
              %li
                %img{:src => './assets/images/circleplus.svg', :alt => 'An icon of a circle with a plus inside'}
                %span Vehicle upgrades
              %li
                %img{:src => './assets/images/circleplus.svg', :alt => 'An icon of a circle with a plus inside'}
                %span Install air conditioning
              %li
                %img{:src => './assets/images/circleplus.svg', :alt => 'An icon of a circle with a plus inside'}
                %span Provide fitouts
              %li
                %img{:src => './assets/images/circleplus.svg', :alt => 'An icon of a circle with a plus inside'}
                %span Fix rollback faults
              %li 
                %img{:src => './assets/images/circleplus.svg', :alt => 'An icon of a circle with a plus inside'}
                %span Service heavy vehicles
              %li
                %img{:src => './assets/images/circleplus.svg', :alt => 'An icon of a circle with a plus inside'}
                %span Complete computer diagnostics
              %li
                %img{:src => './assets/images/circleplus.svg', :alt => 'An icon of a circle with a plus inside'}
                %span Service cranes
              %li
                %img{:src => './assets/images/circleplus.svg', :alt => 'An icon of a circle with a plus inside'}
                %span Service forklifts
              %li
                %img{:src => './assets/images/circleplus.svg', :alt => 'An icon of a circle with a plus inside'}
                %span Service bobcats
              %li
                %img{:src => './assets/images/circleplus.svg', :alt => 'An icon of a circle with a plus inside'}
                %span Service escavators
        
        %section{:class => 'contact row', :id => 'contact' }
          %div{:class => 'contact-form col s12 m6 l6'} 
            %h2 Get in touch
            %form{:action => 'https://formspree.io/adxm@msn.com', :method => 'post'}
              %div{:class => 'input-field'}
                %i{:class => 'material-icons prefix'} account_circle
                %input{:type => 'text', :id => 'icon_prefix', :name => 'name', :class => 'validate'}
                %label{:for => 'icon_prefix'} Name
              %div{:class => 'input-field'}
                %i{:class => 'material-icons prefix'} email
                %input{:type => 'email', :id => 'email_inline', :name => 'email', :class => 'validate'}
                %label{:for => 'email_inline'} Email
              %div{:class => 'input-field'}
                %i{:class => 'material-icons prefix'} message
                %textarea{:id => 'message', :name => 'message', :class => 'materialize-textarea'}
                %label{:for => 'message'} Message
              %button{:type => 'submit', :class => 'red darken-3 btn-small'} Send

          %aside{:class => 'contact-details col s12 m6 l6'}
            %h4 Come To You
            %h3{:class => 'mobile mobile3'} 
              %i{:class => 'material-icons prefix red-text text-darken-3'} phone_android
              %span{:id => 'mobile-num'}
                %a{:href => 'tel:0409602968'} 0409 602 968
              %span{:class => 'contact-title'} for 24h Mobile Units
            %h3{:class => 'mobile mobile4'} 
              %i{:class => 'material-icons  red-text text-darken-3'} phone
              %span{:id => 'workshop-num'}
                %a{:href => 'tel:97257237'} 9725 7237
              %span{:class => 'contact-title'} for Workshop
       
            %h5{:id => 'email'}
              %i{:class => 'material-icons prefix red-text text-darken-3'} email
              %span
                %a{:href => 'mailto:info@kandautoelectrics.com.au'} info@kandcautoelectrics.com.au

            %h4 Come To Us
            %p 
              Our workshop is in the transport hub located at 
              %address Unit 2/1 John Morphett Pl, Erskine Park. 
            %p 
              On the corner of Lenore Drive and John Morphett Place. It's within 5kM of the M7 Wallgrove Rd. and 3kM of the M4 Roper Rd. Our workshop hours are 
              %span{:class => 'hours'} Monday to Friday: 8AM &mdash; 5PM.

      %section{:class => 'map row'}
        %iframe{:src => 'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d18753.10737704568!2d150.79361812494318!3d-33.80941367455066!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6bcac4dc51e5492!2sK+%26+C+Auto+Electrics!5e0!3m2!1sen!2sau!4v1546036997326', :allow => 'fullscreen', :class => 'col s12'}

      %footer{:class => 'red accent-4 row'}
        %address{:class => 'col s12'}
          %ul
            %li 
              %a{:href => 'mailto:info@kandcautoelectrics.com.au'} info@kandcautoelectrics.com.au
            %li{:class => 'mobile'}
              %a{:href => '0409602968'} 0409 602 968
            %li ABN: 1343241234
            %li
              %a{:href => 'https://www.facebook.com/KC-AUTO-Electrics-784367921577993/', :target => '_blank'}
                %img{:src => './assets/images/facebook.svg', :alt => 'Facebook icon'}

      %script{:src => './assets/js/materialize.min.js'}
      %script{:src => './assets/js/main.js'}
